version: '3'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://root:root@db:5432/movies_reviews_sys
    stdin_open: true
    tty: true
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: movies_reviews_sys
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: